<td style="padding:32px 32px 32px 32px;" align="left">
    <table cellpadding="0" cellspacing="0" width="100%" class="footer-logo">
 <p style="font-size:14px;padding:0 0 32px 0;margin:0;">Saludos,
        <tbody>
            <tr>
                <td align="left" style="padding:0 0 0 0;font-size:14px;">
                    <b>Atención al cliente</b><br>
                    <b style="color:#00b46d;"> ALFA S.L.</b><br><a href="tel:+34{{ company.phone }}" style="color:#111;">{{company.phone}}</a><br><a
                    href="mailto:info@alfa.es" style="color:#020202;">info@alfa.es</a>
                </td>
                <td align="right">
                    Días hábiles: 9:00-19:00<br>
                    Sábados: 9:00-17:00
                </td>
            </tr>
        </tbody>
    </table>
    &nbsp;
    <br>
<b>Síguenos en redes sociales:</b>
    {% include "_email_social" %}
    {% include "_email_footer" %}
</td>
