{% extends "_email_template" %}

{% block content %}

{% include "_email_p_begin" %}
Hola {{client.firstName}},
<br>
Hoy</b> vence tu préstamo con ALFA de <b>{{debt.totalDue |
    numberformat(currencyFormat)}}€</b> (incluyendo intereses).
<Br></Br><B>-Devolver el préstamo</strong></b><Br>
Devuelve el préstamo en tu <a href="http://bit.ly/2yy9Jpy" target="_blank" style="color:#00b46d;">Área de
    Usuario</a>, haz una transferencia a una de nuestras cuentas corrientes o paga en el teléfono <a
        href="tel:+34935475888" style="color:#00b46d;">{{company.phone}}</a>.<Br></Br>

<Br><strong>- Obtener una prórroga</strong><Br></Br>
Si no puedes devolver el préstamo ahora mismo, solicita una <b>prórroga de la fecha de la devolución</b> en tu <a
        href="http://bit.ly/2yy9Jpy" target="_blank" style="color:#00b46d;">Área de
    Usuario</a>. Gana tiempo y toma las riendas con unos días extra. Estas son las tarifas según los días en que aplaces tu devolución:
<ul>
    <li>
        <b>7 días</b>: {{loan.extensions['extension7Days'].price | numberformat(currencyFormat)}}€
        <br>
    </li>
    <li>
        <b>14 días</b>: {{loan.extensions['extension14Days'].price | numberformat(currencyFormat)}}€
        <br>
    </li>
    <li>
        <b>30 días</b>: {{loan.extensions['extension30Days'].price | numberformat(currencyFormat)}}€
    </li>
    <li>
        <b>45 días</b>: {{loan.extensions['extension45Days'].price | numberformat(currencyFormat)}}€
    </li>
</ul>
{{ button(title="Paga o prorroga", url="https://www.alfa.es/login") }}
{% include "_email_p_begin" %}
<B>- Métodos de pago</b>

<ul>
    <li>
        <b>Pago con tarjeta:</b> Puedes realizarlo desde tu <a href="http://bit.ly/2yy9Jpy" target="_blank"
                                                               style="color:#00b46d;">Área de Usuario</a> o
        llámandonos al <a href="tel:+34935475888" style="color:#00b46d;">{{company.phone}}</a>.
        <br>
    </li>
    <li>
        <b>Transferencia bancaria</b> online, en cajero o en ventanilla: Indica en el concepto tu DNI o NIE y
        transfiere el dinero a una de las siguientes cuentas.
        <br>
    </li>
</ul>

<tr>
    <td bgcolor="#f5f5f5">
        <table width="536" border="0" cellspacing="0" cellpadding="0"
               style="margin-left: 32px; margin-right: 32px;">
            <tr>
                <td style="font-family: 'Karla', sans-serif; padding-bottom:5px; padding-top:5px; padding-left: 15px; border-bottom: 2px solid #eaeaea; text-align:left; font-weight: bold; line-height: 1.5;">
                    Bankia:
                </td>
                <td style="font-family: 'Karla', sans-serif; padding-bottom:5px; padding-top:5px; padding-right: 15px; border-bottom: 2px solid #eaeaea; text-align:right; font-weight: bold">
                    ES98 2038 9261 9960 0025 3613
                </td>
            </tr>
            <tr>
                <td style="font-family: 'Karla', sans-serif; padding-bottom:5px; padding-top:5px; padding-left: 15px; border-bottom: 2px solid #eaeaea; text-align:left; font-weight: bold; line-height: 1.5;">
                    La Caixa:
                </td>
                <td style="font-family: 'Karla', sans-serif; padding-bottom:5px; padding-top:5px; padding-right: 15px; border-bottom: 2px solid #eaeaea; text-align:right; font-weight: bold">
                    ES68 2100 0844 2402 0065 7804
                </td>
            </tr>
            <tr>
                <td style="font-family: 'Karla', sans-serif; padding-bottom:5px; padding-top:5px; padding-left: 15px; border-bottom: 2px solid #eaeaea; text-align:left; font-weight: bold; line-height: 1.5;">
                    Banco Sabadell:
                </td>
                <td style="font-family: 'Karla', sans-serif; padding-bottom:5px; padding-top:5px; padding-right: 15px; border-bottom: 2px solid #eaeaea; text-align:right; font-weight: bold">
                    ES25 0081 5029 1400 0245 7055
                </td>
            </tr>
        </table>
    </td>
</tr>
{% include "_email_p_end" %}
{% include "_email_p_begin" %}
<p style="font-size:14px;padding:0 0 32px 0;margin:0;"><b>Si ya has pagado</b>, cuando te enviamos este mail aún no
    estaba contabilizado. En caso de que no te notifiquemos que hemos recibido el pago próximamente, envíanos un
    comprobante de pago al email <a href="mailto:cobros@alfa.es" style="color:#00b46d;"> cobros@alfa.es</a> o
    llámanos al <a href="tel:+34935475888" style="color:#00b46d;">935 47 58 88</a>. </p>
{% include "_email_p_end" %}
{% include "_cs_email_signature" %}

{% endblock %}}
