{% extends "_email_template" %}

{% block content %}

{% include "_email_p_begin" %}
Estimado cliente,
{% include "_email_p_end" %}

{% include "_email_p_begin" %}
[!]
Puede restablecer su contraseña de acceso a Alfa mediante el siguiente enlace:
{% include "_email_p_end" %}
{% include "_email_p_begin" %}
<a href="{{resetPassword.url}}">{{resetPassword.url}}</a>
{% include "_email_p_end" %}

{% include "_email_p_begin" %}
Su nombre de usuario es: {{client.email}}
{% include "_email_p_end" %}

{% include "_email_p_begin" %}
Si no ha solicitado restablecer su contraseña ignore este correo electrónico. Puede acceder a su cuenta con la contraseña actual.
{% include "_email_p_end" %}

<td style="padding:64px 32px 32px 32px;" align="left">
{% include "_email_footer" %}
</td>

{% endblock %}}
